

header {
    background:#d9d9d9;
    color: whitesmoke;
    padding: 1rem;
    text-align: right;
    
}


nav ul {
    list-style: none;
}
nav ul p{
    color: black;
    text-align: left;
   font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 80px;
    color: black;
}

nav ul li a {
    color: black;
    text-decoration: none;
}
 video{
    width: 1379px;
    
 }   
button{
    border-radius: 50px;
    size: 300px;
    background-color: white;
    
    font-size: 20px;
 padding: 12px 28px;
    text-align: center;
font-weight: bold;
position:absolute;
text-decoration: none;
  display: inline-block;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display: inline-block;
margin-left: 597px;


}



    


    
  
