

header {
    background:#d9d9d9;
    color: whitesmoke;
    padding: 1rem;
    text-align: right;
    
}


nav ul {
    list-style: none;
}
nav ul p{
    color: black;
    text-align: left;
   font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 80px;
    color: black;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 300;
}

nav ul li a:hover,
nav ul li a:active{
    color: blue;
}


 video{
    width: 1367px;
    
 }   
h1{
    margin-left: 598px;
 }
 h2
{
    margin-left: 590px;
    font-size: 60px;
}

 p{
    text-align: start;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 55;
line-height: 24px;
 }
p:hover{
    transform:scale(1.01) ;
    z-index:2.0 ;
}

main{
    padding: 25px;
}



 .Links{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 12px;
 }
 .Link{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;

 }
 .Link img{
    max-width: 55%;
     height: 250px;
 }
 .Link:hover{
    transform:scale(1.05) ;
    z-index:2 ;
    }

.Link a {
    text-decoration: none;
    color: black;
}

    button{
        border-radius: 50px;
        background-color: white;
        font-weight: bold;
        font-size: 20px;
     padding: 16px 28px;
        margin-left: 615px;
        cursor: pointer;
    }

.contact{
        background-color: #d9d9d9;
        width: 900px;
        margin-left:230px; 
        border-radius: 2rem;
        
    }
.contact h3{
    margin-bottom: 45px;
    color: black;
    font-size: 40px;
    margin-left: 335px;
    
}
.contact form{
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    color:black ;
    background-color:white;
    border-radius: 2rem;
    border: 4px solid var(black);
    margin: 1rem 0 ;
    
}
.contact form .btn {
    margin-top: 1rem;
    border-radius: 50px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
 padding: 16px 28px;
    cursor: pointer;
    margin-bottom: 28px;
    
}
footer{
        padding-left: 580px;
        font-weight: lighter;
    }


    
  


    
  
