

header {
    background:#d9d9d9;
    color: whitesmoke;
    padding: 1rem;
    text-align: right;
    
}


nav ul {
    list-style: none;
}
nav ul p{
    color: black;
    text-align: left;
   font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 80px;
    color: black;
}

nav ul li a {
    color: black;
    text-decoration: none;
}
 video{
    width: 1377px;
    
 }   
h1{
    margin-left: 598px;
 }
 h2
{
    margin-left: 597px;
    font-size: 32px;
}

 p{
    text-align:start;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: lighter;
line-height: 24px;
 }
p:hover{
    transform:scale(1.012) ;
    z-index:2.0 ;
}






main{
    padding: 25px;
}



 .Links{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
 }
 .Link{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;

 }
 .Link img{
    max-width: 55%;
 }
 .Link:hover{
    transform:scale(1.1) ;
    z-index:2 ;
    
    }

    button{
        border-radius: 50px;
        background-color: white;
        font-weight: bold;
        font-size: 20px;
     padding: 16px 28px;
        margin-left: 608px;
    }

    footer{
        padding-left: 580px;
        font-weight: lighter;
    }
 

    
  


    
  
